Import library yang dibutuhkan

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
abalon = pd.read_excel ('Regresi (Excel).xlsx')
abalon

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,455,365,95,514,2245,101,15,15
1,M,35,265,9,2255,995,485,7,7
2,F,53,42,135,677,2565,1415,21,9
3,M,44,365,125,516,2155,114,155,10
4,I,33,255,8,205,895,395,55,7
...,...,...,...,...,...,...,...,...,...
4172,F,565,45,165,887,37,239,249,11
4173,M,59,44,135,966,439,2145,2605,10
4174,M,6,475,205,1176,5255,2875,308,9
4175,F,625,485,15,10945,531,261,296,10
4176,M,71,555,195,19485,9455,3765,495,12

Sex             = Male, Female, and I (infant)
Length          = Panjang cangkang dalam milimeter
Diameter        = Diameter dalam milimeter
Height          = Tinggi termasuk daging dalam cangkang dalam milimeter
Whole weight    = Berat keseluruhan abalone dalam gram
Shucked weight  = Berat daging abalone gram
Viscera weight  = Berat usus abalone setelah dikeringkan gram
Shell weight    = Berat cangkang setelah dikeringkan gram
Rings           = Jumlah rings yang jika ditambahkan 1.5 akan menunjukkan umur abalon

Prediksi umur abalone menggunakan kondisi pengukuran fisik. Umur abalone ditentukan dengan memotong cangkangnya, menodai, dan menghitung jumlah 'ring' melalui mikroskop.

#Rumus Regresi Linear Berganda
Y = b + e + m1*x1 + m2*x2 + … + mn*xn
Y = dependent variable
mn = koefisien dari persamaan
xn = independent variable
b = intercept
e = error

In [3]:
# Independent variabel(x) adalah Length, Diameter, Height, Whole weight, Shucked weight, Viscera weight, Shell weight.
# Dependent variabel(y) adalah Age.

In [4]:
# pertama kita harus menambahkan jumlah ring dengan 1,5 untuk menunjukan umur abalon dan mengganti nama kolom menjadi Age (Umur)
abalon['Age'] = abalon['Rings']+1.5
# kedua menghilangkan kolom rings
# ketiga menghilangkan kolom sex karena ynag dibutuhkan hanya kondisi fisik
abalon2 = abalon.drop(['Rings', 'Sex'], axis = 1)
abalon2

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Age
0,455,365,95,514,2245,101,15,16.5
1,35,265,9,2255,995,485,7,8.5
2,53,42,135,677,2565,1415,21,10.5
3,44,365,125,516,2155,114,155,11.5
4,33,255,8,205,895,395,55,8.5
...,...,...,...,...,...,...,...,...
4172,565,45,165,887,37,239,249,12.5
4173,59,44,135,966,439,2145,2605,11.5
4174,6,475,205,1176,5255,2875,308,10.5
4175,625,485,15,10945,531,261,296,11.5
4176,71,555,195,19485,9455,3765,495,13.5

In [5]:
# keempat, melihat statistical description dari data mulai dari mean, kuartil, standard deviation dll.
abalon2.describe()

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Age
count,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000
mean,271.490065,212.430213,74.993057,4400.628202,1960.275078,981.941585,597.896816,11.433684
std,251.479198,198.702603,69.781392,5009.648173,2310.120154,1124.953625,1076.780152,3.224169
min,2.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,2.500000
25%,52.000000,39.000000,14.000000,658.000000,273.000000,147.000000,35.000000,9.500000
50%,68.000000,55.000000,19.000000,1548.000000,659.000000,345.000000,195.000000,10.500000
75%,525.000000,415.000000,145.000000,7715.000000,3325.000000,1715.000000,405.000000,12.500000
max,815.000000,625.000000,515.000000,28255.000000,13485.000000,6415.000000,7975.000000,30.500000

In [6]:
# kelima, mencari missing values.
abalon2.isnull().sum()
#ternyata datanya sudah tidak ada missing values

Length            0
Diameter          0
Height            0
Whole weight      0
Shucked weight    0
Viscera weight    0
Shell weight      0
Age               0
dtype: int64

In [7]:
#Mengetahui nilai korelasi dari independent variable dan dependent variable.
abalon2.corr().style.background_gradient().set_precision(2)

In [8]:
#keenam, buat variabel x dan y.
x = abalon2.drop(columns='Age')
y = abalon2['Age']
#Ketujuh, ucup split data menjadi training and testing dengan porsi 80:20.
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=6)
#Kedelapan, bikin object linear regresi.
lin_reg = LinearRegression()
#Kesembilan, train the model menggunakan training data yang sudah displit.
lin_reg.fit(x_train, y_train)
#Kesepuluh, cari tau nilai slope/koefisien (m) dan intercept (b).
print(lin_reg.coef_)
print(lin_reg.intercept_)

[ 7.63437747e-04  2.05851946e-03  6.72108947e-03  9.36862141e-05
  1.44611035e-04  4.40619938e-04 -1.73064498e-04]
9.272971518779743

In [9]:
#Kesebelas, cari tahu accuracy score dari model menggunakan testing data yang sudah displit.
lin_reg.score(x_test, y_test)

0.1879626515248225

In [10]:
#Prediksi umur abalon (Length, Diameter, Height, Whole weight, Shucked weight, Viscera weight, Shell weight)
lin_reg.predict([[400,300,100,500,2000,100,20]])

array([11.24467728])

Umur abalon adalah 11 tahun